# ignore all files inside the "file" folder
/files/*.json
/files/!null.json


# ignore skeleton file thingies
binding.gyp
graphs.bat
redrawGraphs.py

# copied from 'https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore":
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix